ul.wizard li.text-primary {
    background: #89181A;
}
ul.wizard li:first-child {
    background: #89181A;
}

ul.wizard li{
    background: #89181A !important;
}

ul.wizard li.text-muted {
    background: #fbfbfb !important;
}
ul.wizard li.text-primary .chevron:before {
    border-left: 10px solid #89181A;
}

ul.wizard li .chevron:before {
    border-left: 10px solid #89181A;
}

ul.wizard li.text-muted .chevron:before {
    border-left: 10px solid #fbfbfb !important;
}
